{% extends 'entrega/base.html' %}
{% block content %}

        <h1> Listado de asignaciones de paquetes
           <a href="{% url 'ciudad_nueva' %}"> <button type="button" class="btn btn-success">Agregar</button></a></h1>
        <div>
        <table class="table table-hover">
            <thead>
              <tr>
                <th> Sala </th>
                <th> Peliculas</th>

                  <th>Opciones</th>
              </tr>
                </thead>
<tbody>
    {% for ciudad in ciudades %}
  <tr>
    <td>{{ ciudad.sala }}</td>


    <td>
      {% for pa in ciudad.pelicula.all %}
      <li>
      
{{ pa.nombre }}
        
      </li>
  {% endfor %}

    </td>

    <td>

<a href="{% url 'ciudad_remove' pk=ciudad.pk %}"><button type="button" class="btn btn-danger">Eliminar</button></a>
  </td>

  </tr>
  {% endfor %}
</tbody>
              </table>
{% endblock %}
